
.loading {
  text-align: center;
  padding: 20px;
  color: #666;
}

.recipe {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  
  &__header {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    background-color: #e3f2fd;
    &__image {
      height: 15.6rem;
      width: 20rem;
      object-fit: cover;
      border-radius: 8px;
    }
  }
  &__title-section {
      display: flex;
      flex-direction: column;
    &__title {
      font-size: 2.25rem;
      color: #333;
      margin: 0;
      margin-bottom: 20px;
    }
    &__extra-info {
      display: flex;
      gap: 20px;
      color: #666;
      margin-bottom: 20px;
    }
  }
  &-content {
    padding: 20px;
    &__ingredients {
      margin-bottom: 20px;
      &__title {
        font-size: 1.5rem;
        color: #333;
        margin-bottom: 20px;
      }
      &__list {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 15px;
      }
      &__chip {
        width: fit-content;
        padding: 5px 10px;
        font-size: 0.875rem;
        font-weight: 500;
        background-color: #f8f9fa;
        border-radius: 16px;
        border: 1px solid #ccc;
      }
    }
    
    &__instructions {
      &__title { 
        font-size: 1.5rem;
        color: #333;
        margin-bottom: 20px;
      }
      &__steps {
        font-size: 1rem;
        color: #444;
        line-height: 1.5;
      }
  }
    
  }

}

@media (max-width: 768px) {
  .recipe {
    &__header {
      flex-direction: column;
      &__image {
        width: 100%;
        height: 15.6rem;

      }
    }
  }
}

  
